div.Container{
	width: 80%;
	margin: auto;
}

div.Option ul {
	list-style-type: none;
	margin: 0px;
	padding: 5px;
	overflow: hidden;
	background-color: white;
	font-size: 20px;
}

div.Option li{
	float: right;
	padding-right: 50px;
	padding-top: 30px;
	padding-left: 10px;
}

div.Option li a {
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
}

div.Option li a:hover:not(.Logo a) {
	color: blue;
	font-weight: bold;
}

div.Divider{
	width: 80%;
	height: 20%;
	text-align: center;
	font-size: 32px;
	color: black;
	background-color: #F5F5F5;
	
}

div.BioText{
	text-align: center;
}
