div.Container{
	width: 80%;
	margin: auto;
}

div.Option ul {
	list-style-type: none;
	margin: 0px;
	padding: 5px;
	overflow: hidden;
	background-color: white;
	font-size: 20px;
}
div.Option li{
	float: right;
	padding-right: 50px;
	padding-top: 30px;
	padding-left: 10px;
}
div.Option li a {
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
}
div.Option li a:hover{
	color: blue;
}

div.Divider{
	width: 80%;
	height: 30%;
	text-align: center;
	font-size: 32px;
	color: black;
	background-color: #F5F5F5;
	
}

div.BioText{
	text-align: center;
}

div.CV{
	overflow-x: auto;
}
div.CV table{
	border-collapse: collapse;
	width: 80%;
}
div.CV th, td{
	text-align: left;
	padding: 12px;
}
div.CV tr:nth-child(odd){
	background-color: #F5F5F5;
}
